subdomain.kyeburchard.com {
    # Proxy API requests to the backend
    handle /api* {
        reverse_proxy 0.0.0.0:8000
    }

    # Serve static content
    root * /srv/dist
    file_server

    # Serve the SPA entry point on all other requests
    handle {
        try_files {path} /index.html
    }
}
